/* Starting the grid template */
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    font-family: 'Comfortaa';
    height: 100%;
    width: 100%;
    background-color: rgba(191, 160, 29, 0.1);
}
/* Dealing only with the pictures in the main article */
section > img {
    width: 80%;
}
/* The dividers */
.astrodivider {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    position: relative;
}
.astrodividermask {
    overflow: hidden;
    height: 20px;
}
.astrodividermask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px #2B2000;
}
.astrodivider span {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #2B2000;
    background: #fff;
}
.astrodivider i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #2B2000;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #2B2000;
    font-family: 'Comfortaa';
    font-weight: bold;
}
/* The images */
section > img{
    width: 80%;
    margin: 5% 0;
}
/* The video */
video {
    width: 80%;
    margin: 5% 0;
}
/* Location */
.location > p{
    margin: 5px;
}

@media screen and (max-width: 960px){
    article {
        display: inline-block;
    }
    footer#index{
        display: inline-block;
        width: 100%;
        padding: 10px 0;
    }
    #articleIndex  section {
        padding-bottom: 30px;
    }
}